<h1>title</h1>
<p>Welcome to <%= title%></p>

<main id="main">
<form action="/login" method="POST">
<p><input type="text" name="username" placeholder="Username"></p>
<p><input type="password" name="password" placeholder="Password"></p>
<p><input type="submit" value="Send"></p>
</form>
</main>
